#
# Object: Firewall config for fridu at OVH
# Author: Fulup Ar Foll 
# Date:   03-aug-2007
# Doc:    http://www.fridu.org/content/view/50/80/
#
# Modification history
# ---------------------
# 01,03-aug-2007, written
#
# ===========================================================================
#
#             Admin Users                    Internet Users
#              (10.10.95.40)                      |
#                   [VPN]                 [Operater Network]
#    ------------------------------------------------------------------
#    -                        internet
#    ------------------------------------------------------------------
#            [VPN]                      [Nat+Dnat]         [Nat+Dnat]
#              |                             |                 |
#       (tun0   10.10.95.38)     (eth0=91.121.65.140  (eth0:fail=87.98.130.56)
#         Admin Network                     Fridu Fix IPs at OVH 
#              |                                     |
#     ---------+--------------Routing----------------+-------------
#         |                            |                          |
#   (no Internet)          (snat:91.121.65.140)           (snat:87.98.130.56)      
#         |                          |                            |
#     (zAdmin)                   (zFulup)                      (zDomi)
# xen-br1(10.10.1.1)         xen-br2(10.0.2.1)            xen-br3(10.10.3.1)
#     +-------+         +----------------------+           +-------------+
#         |             |          |           |           |             |
#     10.10.1.2     10.10.1.3  10.10.12.4  10.10.12.5   10.10.13.2   10.10.13.3
#      VM-admin       SIP      Mail        WEB-Ful      WEB-Dom      Brendan
# ===========================================================================
#

# Zones definition 
# -----------------
IP_ONE=91.121.65.140
IP_TWO=87.98.130.56

CreateZone NAME=zAdmin   NIC=none EXT=none    BR=xen-br1 INT=10.10.1.1 MASK=255.255.255.0 
CreateZone NAME=zFulup   NIC=eth0 EXT=$IP_ONE BR=xen-br2 INT=10.10.2.1 MASK=255.255.255.0 
CreateZone NAME=zDominig NIC=eth0 EXT=$IP_TWO BR=xen-br3 INT=10.10.3.1 MASK=255.255.255.0 

# Application Port & Forwarding (default ACCEPT = none)
# ------------------------------------------------------
CreateApp  NAME=DOM0_SSH   ZONE=none      EXT=tcp:22    INT=eth0 ;# special builtin for Dom0
CreateApp  NAME=DOM0_VPN   ZONE=none      EXT=udp:44096 INT=eth0 ;# check User Custom Rules later
CreateApp  NAME=VMA1_SIP   ZONE=zFulup    EXT=udp:5600  INT=10.10.12.3:5600
CreateApp  NAME=VMA1_SMTP  ZONE=zFulup    EXT=tcp:25    INT=10.10.12.4:25
CreateApp  NAME=VMA1_WEB   ZONE=zFulup    EXT=tcp:80    INT=10.10.12.5:8080
CreateApp  NAME=VMB1_WEB1  ZONE=zDominig  EXT=tcp:80    INT=10.10.13.2:8080
CreateApp  NAME=VMB1_WEB2  ZONE=zDominig  EXT=tcp:8080  INT=10.10.13.3:8080

# Zone Restriction (default input/out ACCEPT all)
# -----------------------------------------------
TuneZone  NAME=BR3_NOSMPT ZONE=zDominig DIR=out ACTION=DROP  PORT=tcp:25      # Prevent ZB to send mail

# User Before/After Zone Custom Tables (before-input|output|forwarding, after-input|...)
# ----------------------------------------------------------------------------------
if test "$ACTION" = "start" ; then
  DoIt iptables  -A after-forwarding -i xen-br+ -o xen-br+ -j ACCEPT   # allow VM to talk together
  DoIt iptables  -A after-forwarding -i tun+    -o xen-br+ -j ACCEPT   # allow VPN talk to zones
  DoIt iptables  -A after-input     -i tun+     -j ACCEPT              # allow VPN talk to dom0
  DoIt iptables  -A after-forwarding -i xen-br+ -o tun+    -j ACCEPT    # allow Zones talk to VPN
fi
